.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: #fff;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.navbar-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}

.navbar-actions {
  display: flex;
  align-items: center;
}

.demo-button {
  background-color: #41317b;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 15px;
}

.login-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
